/* candy card */
.candy-card {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
    width: 300px;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  /* Pink border */
  .candy-card::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff6b6b, #ffb8b8); 
    z-index: -1; /* Behind the card content */
  }
  
  /* candy image */
  .candy-image {
    max-width: 200px;
    border-radius: 8px;
    justify-content: center; 
  }
  
  /* candy name */
  .candy-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* candy price */
  .candy-price {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
  }
  
  /* candy stock */
  .candy-stock {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
  
  /* Style for add to cart */
  .add-to-cart {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-top: 10px; 
    cursor: pointer; 
    border-radius: 4px; 
  }
  
  .add-to-cart:hover {
    background-color: #ff6b6b; 
  }

  /* Container for input and button */
.input-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
    flex-direction: row;
  }
  
  li input[type="number"] {
    margin-right: 10px; /* Add space between input and button */
    width: 50px;
    display: inline-block;
  }
  /* Remove bullet points */
ul.candy-list {
    list-style-type: none !important;
    padding: 0;
  }

.candy-list {
  display: flex;
  flex-wrap: wrap;
}
  