/* candy card */
.candy-card {
    flex: 0 0 200px;
    margin: 30px;
    background-color: #fff; 
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 300px;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  /* Pink border */
  .candy-card::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff6b6b, #ffb8b8); 
    z-index: -1; /* Behind the card content */
  }

  .candy-name-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  
  /* candy image */
  .candy-image {
    max-width: 100%;
    border-radius: 8px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
  }
  
  /* candy name */
  .candy-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* candy price */
  .candy-price {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
  }
  
  /* candy stock */
  .candy-stock {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }
  
  /* Style for add to cart */
  .add-to-cart {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin-top: 10px; 
    cursor: pointer; 
    border-radius: 4px; 
  }
  
  .add-to-cart:hover {
    background-color: #ff6b6b; 
  }

  /* Container for input and button */
.input-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
    flex-direction: row;
  }
  
  li input[type="number"] {
    margin-right: 10px; /* Add space between input and button */
    width: 50px;
    display: inline-block;
  }
  /* Remove bullet points */
ul.candy-list {
    list-style-type: none !important;
    padding: 0;
  }

.candy-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-items {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.item-name {
  font-weight: bold;
}

.remove-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #cc4d39;
}

.checkout-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: #45a049;
}

  